*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;    
}

.container-carousel {
    display: flex;

    position: relative;

    width: 1200px;
    height: 500px;

}

.carousel-left{
    width: 80%;
    height: 100%;
}

.carousel-right{
    position: relative;

    width: 20%;
    height: 100%;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-left .carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 30%;
}

.carousel-right  .arrow {
    color: white;
    font-size: 2em;
}

.carousel-right #arrow-top{
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

.carousel-right #arrow-bottom{
    position: absolute;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

#thumbnails-container {
    width: 100%;
    height: 100%;
}

.carousel-right #thumbnails-container .thumbnail{
    width: 100%;
    height: calc(100% / 5);

    background-color: rgb(0, 0, 0);
}

.carousel-right #thumbnails-container .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 30%;

    opacity: 0.5;
}

.carousel-right #thumbnails-container .thumbnail img.active {
    border: 2px solid white;
    opacity: 1;
}